@inherits LayoutComponentBase

<div class="container-fluid h-100">
    <div class="row h-100">
        <NavMenu></NavMenu>
        <div id="page-content-wrapper">
            @Body
        </div>
    </div>
</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />